body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
    min-height: 100vh;
  }
.todo{

      min-width: 400px;
      background-color: #FFFFFF;
      margin: 0 auto;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      border-radius: 15px;
  }

  img.sort{
    position: absolute;
    right: 45px;
    top: 70px;
  } 
   img.delete{
    position: absolute;
    right: 40px;
    top: 12px;
    width: 25px;
  } 
   .input-field{
    position: relative;
  }
  
  .todo-container {
    position: relative;
    padding: 10px;
  }
  
  h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .circle-plus{
    background-color: #AA68FE;
    padding: 6px 16px;
    border-radius: 50%;
    font-size: 30px;
    position: absolute;
    left: -13px;
    top:0px;
  }

  input[type="text"] {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.396);
    font-size: 16px;
    width: 300px;
  }
  .btn-dobovit{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
   
   button[type="submit"] {
    padding: 14px;
    background-color: #9953F1;
    border: none;
    color: white;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    cursor: pointer;
  
    border-radius: 30px;
    position: relative;
    width: 150px;
  } 
  
   ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F9F9F9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  li:last-child {
    margin-bottom: 0;
  }
  li .task-text {
    flex-grow: 1;
    font-size: 16px;
    margin-right: 10px;
  }
  li .task-actions {
    display: flex;
    align-items: center;
  }
  li .task-actions button {
    padding: 5px;
    background-color: #F44336;
    border: none;
    color: white;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 14px;
    cursor: pointer;
  }  li.completed {
    background-color: #E5E5E5;
    text-decoration: line-through 
  } 
  #clearBtn{
    position: absolute;
    top: 50%;
    right: 35px;
    transform: translateY(-45%);
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    color: #aaa;
  }
  /* button{
    padding: 10px 20px;
    border-radius: 5px;
    
  } */